<mat-toolbar class="mat-elevation-z21" color="accent">
  <span><h3>{{ company }}</h3></span>
  <div class="header-buttons main">
    <span><a mat-button routerLink="/">Home</a></span>
    <span><a mat-button routerLink="/about">About</a></span>
    <span><a mat-button routerLink="/register">Join</a></span>
    <span><a mat-button routerLink="/login">Login</a></span>
    <span><a mat-button routerLink="/contact">Contact</a></span>
  </div>
</mat-toolbar>
<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4">

  </div>
</div>

